<table mat-table [dataSource]="dataSource" style="width:100%">

  <!-- Name Column -->
  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let signout"> {{signout.userName}} </td>
  </ng-container>

   <!-- Purpose Column -->
   <ng-container matColumnDef="reason">
    <th mat-header-cell *matHeaderCellDef> Purpose </th>
    <td mat-cell *matCellDef="let signout"> {{signout.reason}} </td>
  </ng-container>

  <!-- Departing Column -->
  <ng-container matColumnDef="startTime">
    <th mat-header-cell *matHeaderCellDef> Departing </th>
    <td mat-cell *matCellDef="let signout"> {{signout.startTime | date : 'short'}} </td>
  </ng-container>

  <!-- Returning Column -->
  <ng-container matColumnDef="endTime">
    <th mat-header-cell *matHeaderCellDef> Returning </th>
    <td mat-cell *matCellDef="let signout"> {{signout.endTime | date : 'short'}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>

</table>