<section fxLayout fxLayoutAlign="center center">

  <mat-card class="small-card">
    <mat-card-title>Login</mat-card-title>
    <mat-card-subtitle>
      Please login to signout a vehicle
    </mat-card-subtitle>
    <mat-card-content>
      <form
      fxLayout="column" 
      class="loginForm" 
      [formGroup]="loginForm" 
      (ngSubmit)="onSubmit()">
        <mat-form-field class="padded-control">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required>
          <mat-error *ngIf="emailControl.invalid">{{getErrorMessage(emailControl.errors)}}</mat-error>
        </mat-form-field>
        <mat-form-field class="padded-control">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error *ngIf="passwordControl.invalid">{{getErrorMessage(passwordControl.errors)}}</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</section>