<h1 mat-line mat-dialog-title>Sign Out</h1>
  <mat-dialog-content>
    <form [formGroup]="signOutForm">
      <mat-tab-group [dynamicHeight]="true" (selectedIndexChange)="enableSave($event)">
        <mat-tab label="General">
          <div fxLayout="row" fxLayoutAlign="center" class="spacing">
            <mat-form-field fxFlex="50" fxFlex.lt-sm="75">
              <mat-select placeholder="Which Vehicle?" formControlName="vehicle" required>
                <mat-option *ngFor="let vehicle of vehicleNames | async" [value]="vehicle.$key">{{vehicle.$key}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="center" class="spacing">
            <mat-form-field fxFlex="50" fxFlex.lt-sm="75">
              <input matInput placeholder="Purpose" formControlName="purpose">
              <mat-hint>Ex. Movie Run</mat-hint>
            </mat-form-field>
          </div>
        </mat-tab>
        <mat-tab label="When">
          <div [formGroup]="departGroup" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1em" class="spacing">
              <mat-form-field fxFlex="60">
                <input matInput
                required
                [matDatepicker]="departDatepicker"
                [min]="currentDate"
                placeholder="Date Leaving"
                formControlName="date"
                style="height:24px"
                >
                <mat-datepicker-toggle matSuffix [for]="departDatepicker"></mat-datepicker-toggle>
                <mat-error *ngIf="departGroup.controls['date'].hasError('matDatepickerMin')">Time Travel is not allowed</mat-error>
              </mat-form-field>
              <mat-datepicker #departDatepicker></mat-datepicker>
              <mat-form-field fxFlex="30">
                <input matInput
                required
                type="time"
                placeholder="Time Leaving"
                formControlName="time"
                [errorStateMatcher]="matcher"
                >
                <mat-error *ngIf="departGroup.hasError('vehicleInUse')">Vehicle is in use at this time</mat-error>
                <mat-error *ngIf="departGroup.hasError('outBeforeIn')">Time travel is not allowed</mat-error>
              </mat-form-field>
          </div>
            
          <div [formGroup]="returnGroup" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1em" class="spacing">
            <mat-form-field fxFlex="60">
                <input matInput
                required
                [matDatepicker]="returnDatepicker"
                [min]="departGroup.controls['date'].value"
                placeholder="Date Returning"
                formControlName="date"
                style="height:24px"
                >
                <mat-datepicker-toggle matSuffix [for]="returnDatepicker"></mat-datepicker-toggle>
                <mat-error *ngIf="returnGroup.controls['date'].hasError('matDatepickerMin')">Time Travel is not allowed</mat-error>
              </mat-form-field>
              <mat-datepicker #returnDatepicker></mat-datepicker>
              <mat-form-field fxFlex="30">
                <input matInput
                required
                type="time"
                placeholder="Time Returning"
                formControlName="time"
                [errorStateMatcher]="matcher"
                >
                <mat-error *ngIf="returnGroup.hasError('vehicleInUse')">Vehicle is in use at this time</mat-error>
                <mat-error *ngIf="returnGroup.hasError('outBeforeIn')">Time travel is not allowed</mat-error>
                
              </mat-form-field>
          </div>
        </mat-tab>
      </mat-tab-group>
      </form>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button (click)="cancel()" fxFlex mat-button mat-dialog-close>Cancel</button>
    <button color="primary" (click)="save()" fxFlex [disabled]="!(signOutForm.valid && returnGroup.valid && departGroup.valid && canSave)" mat-button mat-dialog-close>Save</button>  </mat-dialog-actions>
