<md-card>
   <ng-container *ngFor="let last of lastSignout | async"> 
  <md-card-title fxLayout="row" fxLayoutAlign="start center">
    <md-icon color="accent" *ngIf="last?.returning > currentTime.value">warning</md-icon>
    <span fxFlexFill fxFlexOffset="2px">{{name}}</span>
  </md-card-title>
  <md-card-subtitle *ngIf="last?.name" >
    <span *ngIf="last?.returning > currentTime.value; else lastBlock" class="warn">
       Currently signed out by {{last?.name}} 
      <ng-container *ngIf="last?.purpose"> for {{last?.purpose | lowercase}}</ng-container>
      and will be returned at {{last?.returning | date: 'short'}}
      </span>
    <ng-template #lastBlock>Last signed out by {{last?.name}} 
      <ng-container *ngIf="last?.purpose"> for {{last?.purpose | lowercase}}</ng-container>
      and returned at {{last?.returning | date: 'short'}}
    </ng-template>
  </md-card-subtitle>
</ng-container>
  <md-card-content>
    <md-list>
      <md-list-item>
        <h3 md-subheader style="width: 100%" fxLayout="row">
          <span fxFlex="25">Name</span>
          <span fxFlex="25">Purpose</span>
          <span fxFlex="25">Departing</span>
          <span fxFlex="25">Returning</span>
        </h3>
      </md-list-item>
      <ng-container *ngIf="(signouts | async)?.length > 0; else noBlock">
        <ng-container *ngFor="let signout of signouts | async">
          <md-list-item fxLayout="row">
            <span fxFlex="25">{{signout?.name}}</span>
            <span fxFlex="25">{{signout?.purpose}}</span>
            <span fxFlex="25">{{signout?.departing | date :'short'}}</span>
            <span fxFlex="25">{{signout?.returning | date :'short'}}</span>
          </md-list-item>
          <md-divider></md-divider>
        </ng-container>
      </ng-container>
      <ng-template #noBlock>
        <div fxLayout="row" fxLayoutAlign="center center">
          <h3 style="text-align: center" fxFlex="50">No Upcoming Signouts</h3>
        </div>
      </ng-template>
    </md-list>
  </md-card-content>
</md-card>
<button mdTooltip="New Signout" [mdTooltipPosition]="'above'" (click)="openDialog()" class="fab" md-fab><md-icon>directions_car</md-icon></button>
