<mat-card>
  <mat-card-title>{{ user?.displayName }}'s {{type}} Signouts</mat-card-title>
  <mat-card-content>
    <app-signout-list
      [showActions]="type === 'Current'"
      [time]="time"
      [signouts]="signouts"
      (edit)="edit.emit($event)"
      (remove)="remove.emit($event)"
      *ngIf="signouts?.length > 0; else noSignouts"

    ></app-signout-list>
    <ng-template #noSignouts>
      <div style="padding: 1em" fxLayou t="row" fxLayoutAlign="center center">
        <h2 class="mat-h2">No Signouts to Manage</h2>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
