<mat-card>
  <mat-card-title>Manage Signouts</mat-card-title>
  <mat-card-subtitle>Delete or edit your signouts below</mat-card-subtitle>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <h3 mat-subheader style="width: 100%" fxLayout="row">
           <span fxFlex="10" fxFlex.lt-sm="20">Vehicle</span>
          <span fxFlex="20" fxHide.lt-sm>Purpose</span>
          <span fxFlex="25" fxFlex.lt-sm="30">Departing</span>
          <span fxFlex="25" fxFlex.lt-sm="30">Returning</span>
          <span fxHide.lt-sm fxFlex="10" >Edit</span>
          <span fxHide.lt-sm fxFlex="10" >Delete</span>
          <span fxHide fxShow.lt-sm fxFlex="20">Actions</span>
        </h3>
      </mat-list-item>
      <ng-container *ngIf="(userSignouts | async); let $signouts">
        <ng-container *ngIf="$signouts?.length > 0; else noBlock">
          <ng-container *ngFor="let signout of $signouts">
            <mat-list-item fxLayout="row">
              <span fxFlex="10" fxFlex.lt-sm="20">{{signout?.vehicle}}</span>
              <span fxFlex="20" fxHide.lt-sm>{{signout?.purpose}}</span>
              <span fxFlex="25" fxFlex.lt-sm="30">{{signout?.departing | date :'short'}}</span>
              <span fxFlex="25" fxFlex.lt-sm="30">{{signout?.returning | date :'short'}}</span>
              <span fxHide.lt-sm fxFlex="10">
                <button mat-icon-button (click)="edit(signout)">
                  <mat-icon>edit</mat-icon>
                </button>
              </span>
              <span fxFlex.lt-sm="20" fxFlex="10" fxLayout="row">
                 <button fxFlex fxHide fxShow.lt-sm mat-icon-button (click)="edit(signout)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="delete(signout)">
                  <mat-icon>delete</mat-icon>
                </button>
              </span>
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-template #noBlock>
        <div fxLayout="row" fxLayoutAlign="center center">
          <h3 style="text-align: center" fxFlex="50">You have no scheduled signouts</h3>
        </div>
      </ng-template>
    </mat-list>
  </mat-card-content>
</mat-card>