/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

mat-sidenav-container{
  height: calc(100vh - 64px)
}


mat-sidenav{
    width: 200px;
}

mat-card{
    margin: 2.5em;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x:hidden;
}

.mat-toolbar-layout{
  width:100%;
}

.mat-list-item-content{
  width: 100%;
}

.fab{
  position:fixed !important;
  bottom: 3em;
  right: 5em;
}

.mat-nav-list a{
  height:inherit;
  width: inherit;
  line-height: 3;
}

.mat-nav-list a:focus{
  outline:none;
}

a.active-list-link mat-icon, a.active-list-link span {
  color: #009688
}

.mat-list .mat-subheader, .mat-nav-list .mat-subheader{
  font-size: 16px !important;
}


@media(max-width:600px){
  mat-card{
    margin: 0;
  }

  mat-dialog-container{
    margin: 0 auto;
  }

  mat-sidenav-container{
  height: calc(100vh - 54px)
  }

  .fab{
    bottom: 7em;
  }
}