/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

md-sidenav-container{
  height: calc(100vh - 64px)
}


md-sidenav{
    width: 200px;
}

md-card{
    margin: 2.5em;
}

.mat-toolbar-layout{
  width:100%;
}

.mat-list-item-content{
  width: 100%;
}

.fab{
  position:fixed !important;
  bottom: 3em;
  right: 5em;
}

.mat-nav-list a{
  height:inherit;
  width: inherit;
  line-height: 3;
}

.mat-nav-list a:focus{
  outline:none;
}

.mat-list .mat-subheader, .mat-nav-list .mat-subheader{
  font-size: 16px !important;
}

.md2-datepicker-header, .md2-calendar-day.selected, .md2-calendar-day.selected:hover{
  background:#009688 !important;
}

.md2-datepicker-actions .md2-button, .md2-datepicker-input-focused .md2-datepicker-arrow{
  color: #009688 !important;
}

.md2-datepicker-input.md2-datepicker-input-focused {
    color: #009688 !important;
    border-color: #009688 !important;
}

.md2-clock-hour.active, .md2-clock-minute.active, .md2-clock-hand, .md2-clock-center, .md2-clock-hand::before {
  background: #4db6ac !important;
}

@media(max-width:600px){
  md-card{
    margin: 0;
  }

  md-dialog-container{
    margin: 0 auto;
  }

  .md2-datepicker-header-date-time {
    font-size: 28px !important;
  }

  md-sidenav-container{
  height: calc(100vh - 54px)
  }

  .fab{
    bottom: 7em;
  }
}