/* You can add global styles to this file, and also import other style files */
html {
  --toolbarHeight: 64px;
}


html, body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

mat-sidenav-container{
  height: calc(100vh - var(--toolbarHeight))
}


mat-sidenav{
    width: 200px;
}

.full-height {
  min-height: calc(100vh - var(--toolbarHeight));
}

mat-card {
  width: min(90%, 600px);
  margin: 0 auto;
}

.container {
  padding: 1em
}



.fab{
  bottom: 3em;
  right: 5em;
}


.mat-nav-list a:focus{
  outline:none;
}

a.active-list-link mat-icon, a.active-list-link span, .success {
  color: #009688
}

.warn {
  color: #ffc107
}



@media(max-width:600px){


  html {
    --toolbarHeight: 56px;
  }

  .container {
    padding: 1em 0.5em;
  }

  .fab{
    bottom: 7em;
  }
}